body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5e5e5f;
}

.container {
    background: transparent;
    /* background: #ffffffdd; */
    /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
    padding: 20px;
    /* border-radius: 12px; */
    text-align: center;
    width: 500px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}

h1 {
    margin-bottom: 20px;
    color: white;
}

.search {
    margin-bottom: 15px;

}

.search input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search button {
    padding: 5px 12px;
    margin-left: 5px;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    /* background: #4facfe; */
    background: #014d80;
    color: white;
}

.locBtn {
    background: #014d80;
    margin-top: 10px;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    margin: 10px 0;
}

.weather-card {
    color: #fff;
    text-align: center;
    padding: 25px 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    margin: 20px auto;
    transition: background 0.5s ease;
    display: none;
}

.weather-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.weather-card img {
    width: 80px;
    height: 80px;
    margin: 10px 0;
}

.weather-card p {
    margin: 5px 0;
    font-size: 16px;
}

.weather-card strong {
    font-weight: 600;
}